body{
    text-align: center;
    justify-content: center;
}

div{
    border: 1px solid black;
    margin : auto;
    height: 400px;
    width: 400px;
    margin-top: 15px;
}
button{
    text-decoration: none;
    background-color: blue;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px;
}
button:hover{
    cursor: pointer;
    box-shadow: 2px 2px 10px black;
}