
body{
    background-color: rgb(221, 222, 226);
}


#header{
    background-color: white;
    top: 0;
    position: sticky;
    width: 100%;
    height: 67px;
    padding: 12px;
    margin-top: 0;
    margin-left: 0;
    margin-left: 0;
    overflow: hidden;
    z-index: 100;
}

.header img{
    width:100px;
    height: 100px;
    object-fit: contain;
}

.search-container{
    background-color: rgb(221, 222, 226);
    display: flex;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid white;
    width: 40%;
}
.search-box{
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
}
.search-container i{
    color: rgb(41, 40, 40);
    padding-right: 10px;
}

.login button{
    border: none;
    outline: none;
    background-color: white;
    color: black;
    border-radius: 50%;
}
.login a{
    text-decoration: none;
    color: black;
}

.icons button{
    border: none;
    outline: none;
    background-color: white;
    color: black;
    border-radius: 50%;
}

#header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
 .main{
    height: 100%;
    background-color: rgb(221, 222, 226);
 }

.card1 img{
    background-color: white;
}
.sections{
    padding: 12px;
    background-color: white;
    margin: 15px;
    margin-top: 1rem;
}

.card1{
    width: 5%;
    margin: 10px;
}

.container{
    background-color: rgb(221, 222, 226);
}
.card2 img{
    width: 80px;
    height: 70px;
}

.sections{
    display: flex;
    justify-content: space-between;
    justify-items: baseline;
}

.topdeals{
    background-color: white;
    margin:15px;
    height:400px;
}
.topdeals h3{
    margin: 10px;
}
.topdeals img{
    width: 100%;
}
.topdeals-card{
    display: flex;
    justify-content: space-evenly;
}
.card img{
    width: 64px;
    height: 75px;
}
.card{
    text-align: center;
}
.f-card img{
    width:100px;
    height:100px;
}
.fashion{
    background-color: white;
    margin: 15px;
    padding: 10px;
}
.fashion-cards{
    display: flex;
    justify-content: space-evenly;
}
.f-card{
    border: 0.1px solid black;
    border-radius: 5px;
    padding:5px;
    align-items: center;
}

.footer{
    background-color: rgb(46, 44, 44);
    width: 1150px;
    height: 509px;
    display: grid;
    grid-template-rows: repeat(12,1fr);
    grid-template-columns: repeat(12,1fr);
}
.grids{
    background-color: rgb(46, 44, 44);
    display: grid; 
}
.grids strong{
    opacity: 0.5;
    color: dimgrey;
}
.grids p,i{
   color: white;
}

#one{
    display:grid;
    grid-column: 1/span 4;
    grid-row: 1/span 4; 
}
#two{
    display:grid;
    grid-column: 5/span 4;
    grid-row: 1/span 4; 
}
#three{
    display:grid;
    grid-column: 9/span 4;
    grid-row: 1/span 4; 
}
#four{
    display:grid;
    grid-column: 1/span 4;
    grid-row: 5/span 4; 
}
#five{
    display:grid;
    grid-column: 5/span 4;
    grid-row: 5/span 4; 
}
#six{
    display:grid;
    grid-column: 9/span 4;
    grid-row: 5/span 4; 
}
#seven{
    display:grid;
    grid-column: 1/span 4;
    grid-row: 9/span 4; 
}
#eight{
    display:grid;
    grid-column: 5/span 8;
    grid-row: 9/span 4;
}
#eight .icons{
    display: flex;
}
#nine{
    display:grid;
    grid-column: 9/span 4;
    grid-row: 9/span 4; 
}