body{
    text-align: center;
}

.btn{
    width: 200px;
    height: 200px;
    border: 5px solid black;
    text-align: center;
    margin: 10px;
    border-radius: 15px;
}

.container{
    align-items: center;
    display: flex;
    justify-content: center;
}

.one{
    background-color: crimson;
}

.two{
    background-color: cyan;
}

.three{
    background-color: cornflowerblue;
}

.four{
    background-color: darkorchid;
}

.gamebtnflash{
    background-color: white;
}

.userbtnflash{
    background-color: green;
}