body{
    font-family: "Monsterrat",sans-serif;
    background-color: black;
    color: white;
    margin: 0;
}

.main{
     display: flex;
}
.sidebar{
    width: 280px;
    height: 100%;
    background-color: black;
    border-radius: 1rem;
    margin:0.2rem;
}
.main-content{
    background-color: #121212;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
    margin:0.2rem;
    margin-left: -0.01rem;
    margin-right: 0.4rem;
    padding: 0.8rem 0.8rem;
}
.musicplayer{
   background-color: #121212;
   position: fixed;
   bottom: 0;
   width: 100%;
   height: 2rem; 
   overflow: hidden;
}
a{
    text-decoration: none;
    color: white;
}
.nav{
   background-color: #121212;
   border-radius: 1rem;
}
.nav-options{
    padding: 1rem;
    opacity: 0.7;
}
.nav-options a{
    margin-left: 1rem;
}
.library{
   background-color: #121212;
   border-radius: 1rem;
}
.nav-options:hover{
    opacity:1;
}
.library{
    height: 100vh;
    display:flex;
    justify-content: space-between;
    margin: 0.2rem;
    padding: 0.5rem;
    flex-wrap: wrap;
}
.lib-options img{
    width: 1.25rem;
    height:1.25rem;
}
.lib-options a{
    margin-left: 1rem;
}
.lib-options{
    opacity:0.7;
    height: 50px;

}
.lib-options:hover{
    opacity: 1;
}
.icons{
      opacity:0.7;
      height: 50px;
}
.icons:hover{
      opacity: 1;
}
.icons i{
   padding: 0.5rem; 
}
.lib-box{
    margin-top: -180px;
    width: 270px;
    height: 140px;
    background-color: #232323;
    border-radius: 15px;
    padding: 10px;
    font-size: medium;
}
button{
    background-color: white;
    color: black;
    border-radius: 15px;
    font-weight: bold;
    border:none;
    padding: 8px;
}
#para{
    opacity: 0.7;
    padding-bottom: 15px;
}.black{
    background-color: black;
    color: white;
}
.sticky-nav{
    position: sticky;
    top:0;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: #121212;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    border-radius: 1rem;
    margin-right: 16px;
}
.left{
    background-color: black;
    border-radius: 50%;
    opacity: 0.7;
}
.left:hover{
    opacity: 1;
}
@media(max-width: 1000px){
    #hide{
        display: none;
    }
}
@media(max-width: 1000px){
    #hide1{
        display: none;
    }
}
.card{
   background-color: #232323;
   width: 177.72px;
   padding: 0.5rem;
   border-radius: 0.5rem;
}
.card-container{
    display: flex; 
}
.card-img{
   width: 100%;
   border-radius: 0.5rem;
}
.card-title{
    font-weight: bolder;
    padding: 0.3rem;
}
.card-info{
    opacity: 0.7;
    padding: 0.3rem;
    font-weight: 80%;
}
.trending{
    display: flex;
    flex-wrap: wrap;
  
}
.card{
  margin: 10px;
}
